/* 1. Các dòng @import phải luôn đứng đầu tiên */
@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/* 2. Sau đó mới đến @plugin */
@plugin "tailwindcss-animate";

/* 3. Cuối cùng là @theme và các Layer khác */
@theme {
  --font-outfit: "Outfit", sans-serif;
}

@layer base {

  html,
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    font-family: "Outfit", sans-serif;
  }
}